h1 {
      color: red;
      font-size: 32px;
    }

    h2 {
      font-weight: bold;
      color: blue;
      font-size: 24px;
    }

    p {
        background-color: green;
        color:white;
    }

    button{
        border: 1px solid;
        height:25px;
        width:125px;
        background-color: orange
    }

